ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.c-page-home{
    background-color:#141414;
    color: #fff;
}
@font-face {
    font-family: "MyFont";
    src: url(font/antro-vectra/Antro_Vectra.otf);
}
.c-header{
    padding: 1rem;
}
.c-header__body{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.c-header__site-name{
    font-family: "MyFont";
}
.c-nav-global__body{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.c-nav-global__list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.c-nav-global__item > a{
    padding: 18px 15px;
}
.c-header__copyright{
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: center;
    left: 1rem;
    letter-spacing: .65px;
    font-family: "MyFont";
    font-size: 1.2rem;
    z-index: 2000;
    writing-mode: vertical-rl;
}
.c-page-works{
    display: flex;
}
.c-portfolio-frame{
    border: 1px solid #fff;
    margin: 0 3rem;
    height: 35rem;
}
.c-page-works__item{
    padding: 0 1rem;
}
.c-page-header{
    text-align: center;
    letter-spacing: 0.3rem;
}
.c-page-works__item-name{
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Noto Serif JP', serif;
    text-align: center;
}
.c-page-works__item-content{
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: 'Noto Serif JP', serif; */
}