ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.c-page-home{
    background-color:#141414;
    color: #fff;
}
@font-face {
    font-family: "MyFont";
    src: url(font/antro-vectra/Antro_Vectra.otf);
}
.c-header{
    padding: 1rem;
}
.c-header__body{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.c-header__site-name{
    font-family: "MyFont";
}
.c-nav-global__body{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.c-nav-global__list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.c-nav-global__item > a{
    padding: 18px 15px;
}
.c-header__copyright{
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: center;
    left: 1rem;
    letter-spacing: .65px;
    font-family: "MyFont";
    font-size: 1.2rem;
    z-index: 2000;
    writing-mode: vertical-rl;
}